@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Noto+Sans+Georgian:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #F5F5F6;
    height: 50px;
    font-size: 11px;
    font-weight: 500;

}
.logo {
    height: 23px;
    margin-left: 100px;
    align-self: center;
}

.list {
    display: flex;
    gap: 20px;
    list-style: none;
    align-self: center;
}
.list li:nth-child(1) a {
    color: black;
}
.list  a {
    text-decoration: none;
    color: #959BA4;
}
.login {
    align-self: center;
    width: 58px;
    height: 33px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    margin-right: 102px;
}

main {
    padding: 56px 258px 0px 253px;
}
h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 33px;
}
.column p{
    font-size: 12px;
    color: #C6C6C6;
}
.unit{
    display: flex;
    width: 260px;
    height: 30px;
    margin: 10px 0 20px;
    border: 1px solid #E5E5E5;
    border-radius: 3px;
    
}
.unit p {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65px;
    height: 28px;
    border-right: 1px solid #E5E5E5;

    
}
.unit p:last-child{
    border-right: none;
}
.box{
    border: 1px solid #E5E5E5;
    border-radius: 3px;
    width: 260px;
    height: 102px;
}
input{
    font-size: 36px;
    font-weight: bold;
    width: 150px;
    margin-top: 11px;
    margin-left: 14px;
    border: none;
    outline: none;
}
.box div{
    font-size: 12px;
    color: #C6C6C6;
    margin: 22px 0 0 14px;
}
.container{
    display: flex;
    gap: 123px;
}