@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Noto+Sans+Georgian:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

header {
    height: 50px;
    display: flex;
    justify-content: space-between;
    background-color: #F5F5F6;
    font-size: 0.9vw;
    font-weight: 500;
}

.logo {
    height: 23px;
    margin-left: 7vw;
    align-self: center;
}

.list {
    display: flex;
    gap: 20px;
    list-style: none;
    align-self: center;
}

.list li:nth-child(1) a {
    color: black;
}

.list a {
    text-decoration: none;
    color: #959BA4;
}

.login {
    align-self: center;
    width: 58px;
    height: 33px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    margin-right: 7vw;
}

main {
    padding: 56px 258px 0px 253px;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 33px;
}

.column p {
    font-size: 12px;
    color: #C6C6C6;
}

.unit {
    display: flex;
    width: 260px;
    height: 30px;
    margin: 10px 0 20px;
    border: 1px solid #E5E5E5;
    border-radius: 3px;
}

.unit p {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65px;
    height: 29px;
    border-right: 1px solid #E5E5E5;
}

.unit p:last-child {
    border-right: none;
}

.box {
    border: 1px solid #E5E5E5;
    border-radius: 3px;
    width: 260px;
    height: 102px;
}

input {
    font-size: 36px;
    font-weight: bold;
    width: 150px;
    margin-top: 11px;
    margin-left: 14px;
    border: none;
    outline: none;
}

.box div {
    font-size: 12px;
    color: #C6C6C6;
    margin: 2vw 0 0 1vw;
}

.container {
    display: flex;
    gap: 123px;
}

.color {
    background-color: #833AE0;
    color: white !important;
}

.internet-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    width: 450px;
    padding: 15px;
    color: red;
    border-radius: 40px;
    gap: 10px;
    font-weight: 500;
    font-size: 30px;
    box-shadow: 2px 0px 10px rgba(248, 0, 33, 0.5);
}

.internet img {
    width: 2vw;
}

.wifi-container {
    display: flex;
    justify-content: center;

}

.wifi-text {
    font-size: 1.5vw;
    text-shadow: 2px 0px 15px rgba(248, 0, 33, 1);

}

/* Tablet*/
@media screen and (max-width: 1023px) and (min-width: 768px) {
    header {
        font-size: 1vw;
    }

    .logo {
        height: 2.2vw;
        margin-left: 10vw;
    }

    .unit {
        width: 30vw;
        height: 3.5vw;
    }

    .unit p {
        width: 8.5vw;
        height: 3.3vw;
    }

    .box {
        width: 30vw;
        height: 13.281vw;
    }

    input {
        font-size: 30px;
        width: 17vw;
    }

    .box div {
        font-size: 14px;
        margin-top: 4vw;
        margin-left: 1.5vw;
    }

    .container {
        gap: 10vw;
    }

    main {
        padding: 10vw 0 0 15vw;
    }

    .internet-div {
        width: 45vw;
        padding: 1.2vw;
        margin-bottom: 40px;
    }

    .internet img {
        width: 3vw;
    }

    .wifi-text {
        font-size: 2vw;
    }
}

/* Mobile*/
@media screen and (max-width: 767px) {
    header {
        font-size: 11px;
    }

    .logo {
        height: 3vw;
        margin-left: 12vw;
    }

    h1 {
        font-size: 6vw;
    }

    .list {
        display: none;
    }

    .login {
        font-size: 1.5vw;
        padding: 0.5vw 4vw;
        margin-right: 10vw;
    }

    main {
        padding: 13vw 21vw 1vw;
    }

    .container {
        flex-direction: column;
        gap: 20vw;
    }

    .column p {
        font-size: 2.5vw;
    }

    .unit {
        width: 100%;
        height: 7vw;
    }

    .unit p {
        width: 20vw;
        height: 6.7vw;
    }

    .box {
        width: 100%;
        height: 28.333vw;
    }

    input {
        font-size: 5vw;
        width: 41vw;
        margin-top: 4vw;
        margin-left: 4vw;
    }

    .box div {
        margin-top: 12vw;
        margin-left: 4vw;
    }

    .internet-div {
        width: 40vw;
        padding: 2vw;
        margin-bottom: 20px;
    }

    .internet img {
        width: 4vw;
    }

    .wifi-text {
        font-size: 2vw;
    }
}